@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
  
  video {
      max-width: 100%;
      height: auto;
  }
  
  html {
      width: 100%;
      background-color: #ffffff;
  }
  
  h1 {
      font-size: 34pt;
  }
  
  h2 {
      font-size: 26pt;
  }
  
  h3 {
      font-size: 18pt;
  }
  
  h4 {
    font-size: 14pt;
  }
   
  .mat-form-field-flex {
    background-color: #ffffff !important;
  }
  
  .flex-column {
    margin: 10px;
 }
 .button-row {
  margin-top: 23px;
 }
 .button-form {
  margin-left: 10px !important; 
 }
 input {
   width: 100%;
 }
 .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.2rem 0rem !important;
  padding-left: 0.25rem !important;
 }
 .p-datatable .p-datatable-thead > tr > th {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; 
  padding-left: 0.25rem !important;

 }
 .p-datatable-scrollable-header-box { padding: 0 !important; }  