
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
					<img src="assets/logo.jpg"  class="responsiveLogo"/>
					 
					<span class="login100-form-title p-b-33" style="margin-top: 1rem;">
						 
					</span> 
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="nome" placeholder="Login" autocomplete="off"  formControlName="nome"  [ngClass]="{ 'is-invalid': submitted && f.login.errors }" data-validate="Valid login is required: ex@abc.xyz" >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" autocomplete="off">
						<input class="input100" type="password" name="senha" placeholder="Senha" formControlName="senha"   [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div> 

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">
							Login
						</button>
					</div> 
 
				</form>
			</div>
		</div>
	</div>