<p-blockUI   [blocked]="blockedPanel">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
</p-blockUI>
<div *ngIf="exibeChart" class="p-mr-2"><button pButton type="button" class="p-button-raised " icon="pi pi-check"
    iconPos="right" label="Atualizar"  (click)="carregar()" ></button></div>

<div #pnl class="p-d-flex p-flex-column p-flex-md-row" style="padding-top: 1rem;">
     
    <div class="p-mb-2 p-mr-2">
        <div class="p-d-flex p-flex-column">
            <mat-card class="p-mb-2" *ngFor="let os of listaOS">
                <div class="p-d-flex">
                    <div class="p-mr-2">{{os.hora}}</div>
                    <div class="p-mr-2" style="width: 23rem;">{{os.nome}}</div>
                    <div class="p-mr-2"><button pButton type="button" label="Cancelar" class="p-button-raised  p-button-danger"
                            icon="pi pi-times" iconPos="right" (click)="atualizarStatus(os.idOS, 'CANCELADO')" ></button></div>
                    <div class="p-mr-2"><button pButton type="button" class="p-button-raised " icon="pi pi-check"
                            iconPos="right" label="Aprovar"  (click)="atualizarStatus(os.idOS, 'APROVADO')" ></button></div>
                    <div class="p-mr-2"><button pButton pRipple label="Foto" (click)="foto(os.idOS)"
                            class="p-button-raised p-button-text p-button-plain" icon="pi pi-camera"
                            iconPos="right"></button></div>
                </div> 
            </mat-card>
        </div>
    </div>
    <div class="p-mb-2 p-mr-2"> 
        <p-chart  width="800" height="400" *ngIf="exibeChart" type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
</div>
 