<mat-toolbar class="matBarCollor">
  <!--
  <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
-->

  <img src="assets/logo.jpg" class="imagemLogo" />
 

  <span class="spacer-menu"></span>

  <div class="button-container">
    <button mat-menu-item color="primary" [matMenuTriggerFor]="matmenu">
      <mat-icon>people</mat-icon>
    </button>
  </div>
 
  <mat-menu #matmenu="matMenu" color="primary">
    <button mat-menu-item (click)="logoff()">
      <mat-icon>logout</mat-icon>
      <span>Logoff</span>
    </button>
  </mat-menu> 
</mat-toolbar>

<mat-sidenav-container >
 <!--<mat-sidenav #sidenav mode="side" [opened]="opened">
    <mat-nav-list>
      <app-menus *ngFor="let item of menu" [item]="item"></app-menus>
    </mat-nav-list>
  </mat-sidenav>-->
  <mat-sidenav-content id="contentDiv"id="contentDiv">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
