.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.matBarCollor {
  background: #ffffff; 
  
}
 
.imagemLogo { 
  width: 28%;
  max-width: 8rem;
  height: auto;
}

mat-sidenav-content { 
  padding-left: 8px;
  padding-right: 8px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    padding-top: 27px;
  }

  ::ng-deep .mat-toolbar{
    z-index: 998;
    position: fixed
  }
  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
  }
  
  .mat-sidenav {
    width: 220px;
  }
  
  button.menu-button {
    color: inherit;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .mat-list-base {
    padding-top: 38px;
    display: block;
    -webkit-tap-highlight-color: transparent;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 47px;
}
.button-container{ 
  position: relative;
  right: -31px;
}
.spacer-menu {
  flex: 1 1 auto;
}